body {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: image-set(
            url("./image/backgroundImage.png") 1x,
            url("./image/backgroundImage@2x.png") 2x,
            url("./image/backgroundImage@3x.png") 3x
    );
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

.title h1 {
    font-size: 42px;
    font-weight: 820;
    white-space: normal;
    overflow-wrap: break-word;
}

.features-container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 34px;
}

.feature-card {
    flex: 1;
    min-height: 146px;
    height: auto;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.feature-text-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 96px 8px;
    padding-bottom: 12px;
}

.feature-card p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    color: #fff;
    padding-bottom: 8px;
    font-size: 12px;
    text-align: start;
    white-space: normal;
    word-break: break-word;
}

.art-creation {
    background-image:
            url('./image/img1.png')

}

.exclusive-styles {
    background-image:
            url('./image/img2.png')

}

.magic-avatars {
    background-image:
            url('./image/img3.png')
}

.pricing-option {
    width: 100%;
    height: 56px;
    padding: 9px 24px;
    border-radius: 100px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pricing-option:hover {
    transform: translateY(-2px);
}

.pricing-option:active {
    transform: translateY(0);
}

.yearly {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 40px;
    background-color: #24212E;
    box-shadow: 4px -4px 10px 2px rgba(188, 31, 239, 0.8),
    4px -4px 10px 2px rgba(0, 53, 255, 0.8);
    color: white;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.yearly-thrown {
    border: 1px solid white;
    background-color: #55535B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ribbon {
    position: absolute;
    top: -12px;
    right: 24px;
    padding: 2px 22px;
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(to right, #BC1FEF, #0035FF) border-box;
    background-clip: padding-box, border-box;
    background-color: #55535B;
    color: #fff;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
}

.ribbon-thrown {
    position: absolute;
    top: -12px;
    right: 24px;
    display: inline-block;
    padding: 2px 22px;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    color: black;
    text-align: center;
    font-size: 13px;
}

.weekly {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 40px;
    background-color: #24222B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.weekly-thrown {
    border: 1px solid white;
    background-color: #55535B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pricing-info {
    text-align: left;
    flex-grow: 1;
}

.pricing-title {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

.pricing-subtitle {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 4px 0 0;
    opacity: 0.7;
    white-space: nowrap;
}

.price {
    font-size: 15px;
    text-align: start;
    font-weight: 200;
    margin-right: 36px;
    opacity: 0.7;
}

.price span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.continue-btn {
    width: 100%;
    height: 56px;
    background-color: white;
    color: black;
    font-weight: 590;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.continue-btn:hover {
    transform: translateY(-2px);
}

.continue-btn:active {
    transform: translateY(0);
}

.footer-links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 58px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 200;
    color: #ffffff;
    gap: 16px;
    padding: 0 16px;
    max-width: unset;
    width: 100vw;
    box-sizing: border-box;
}

.footer-links a {
    display: flex;
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    white-space: nowrap;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    justify-items: center;
    background: transparent;
    border-radius: 10px;
    top: 20vh;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.close-modal-btn {
    position: fixed;
    top: 70px;
    left: 22px;
    background: transparent;
    border: none;
    font-size: 20px;
}

.close-icon {
    width: 21px;
    height: 21px;
}

.open-modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.open-modal-btn:hover {
    background: #2563eb;
}

/* for iPhone SE (375x667) */
@media only screen and (min-width: 390px) and (max-width: 390px) and (min-height: 844px) and (max-height: 844px) {
    .container {
        max-width: 350px;
    }
    .title h1 {
        font-size: 28px;
    }
    .feature-card {
        min-height: 120px;
    }
    .feature-text-container {
        padding: 80px 6px 10px;
    }
    .feature-card p {
        font-size: 10px;
    }
    .modal-content {
        top: 10vh;
        padding: 16px;
    }
    .footer-links {
        bottom: 10px;
        gap: 12px;
        padding: 0 12px;
    }
    .footer-links a {
        font-size: 12px;
    }
}

/* for iPhone XR/11 (414x896) */
@media only screen and (min-width: 414px) and (max-width: 414px) and (min-height: 896px) and (max-height: 896px) {
    .container {
        max-width: 400px;
    }
    .title h1 {
        font-size: 40px;
    }
    .feature-card {
        min-height: 140px;
    }
    .feature-text-container {
        padding: 90px 8px 12px;
    }
    .feature-card p {
        font-size: 12px;
    }
    .modal-content {
        top: 20vh;
        padding: 20px;

    }
    .footer-links {
        bottom: 50px;
        gap: 16px;
    }
}

/* for iPhone 14 (390x844) */
@media only screen and (max-width: 390px) and (max-height: 844px) {
    .container {
        max-width: 360px;
    }
    .title h1 {
        font-size: 38px;
    }
    .feature-card {
        min-height: 130px;
    }
    .feature-text-container {
        padding: 85px 6px 10px;
    }
    .feature-card p {
        font-size: 11px;
    }
    .modal-content {
        top: 18vh;
        padding: 18px;
    }
    .footer-links {
        bottom: 40px;
        gap: 14px;
    }
}

/* for iPhone 14 Pro (393x852) */
@media only screen and (max-width: 393px) and (max-height: 852px) {
    .container {
        max-width: 370px;
    }
    .title h1 {
        font-size: 28px;
    }
    .feature-card {
        min-height: 130px;
    }
    .feature-text-container {
        padding: 85px 6px 10px;
    }
    .feature-card p {
        font-size: 11px;
    }
    .modal-content {
        top: 16vh;
        padding: 18px;
    }
    .footer-links {
        bottom: 8px;
        gap: 14px;
    }
}
